<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/calendar-create.css" />
    <title>Account</title>
</head>
<body>

<div class = "calendar-create-container">
    <h1>가계부 달력 생성 페이지</h1>

    <form action="/home" method="post">
        <div>
            <label for="date">날짜:</label>
            <input type="date" id="date" name="date" required>
        </div>

        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요" required>
        </div>

        <div>
            <button type="submit">저장</button>
        </div>
    </form>

</div>
</body>
</html>

