<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/calendar-item-update.css" />
    <title>Account</title>
</head>
<body>
<div class="calendar-item-update-container">

<h1> 세부 항목 수정 페이지 </h1>
<form th:action="@{|/calendar/${calendarId}/item/${calendarItemDto.id}/update|}" method="post">

    <div>
        <label for="item-title">항목명:</label>
        <input type="text" id="item-title" name="itemTitle" th:placeholder="${calendarItemDto.itemTitle}" required>
    </div>

    <div>
        <label for="item-amount">금액:</label>
        <input type="number" id="item-amount" name="itemAmount" th:placeholder="${calendarItemDto.itemAmount}" required min="0">

        <label>
            <input type="radio" name="type" value="EXPENSE" checked required >
            지출
        </label>
        <label>
            <input type="radio" name="type" value="INCOME">
            수입
        </label>


    </div>


    <div>
        <button type="submit">저장</button>
    </div>
</form>
</div>
</body>
</html>

