<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/calendar-home.css" />
    <title>Account</title>
</head>
<body>

    <div class = "calendar-home-container">

        <h1>입장한 상태</h1>

        <h3>
            <a href="/create" > 가계부 달력 생성하기 </a>
        </h3>

        <div class = "calendar-list-container">
            <h2> 달력 목록 </h2>

            <div th:if="${calendarResponseDtoList.isEmpty()}">
            가계부 달력이 존재하지 않습니다.
            </div>

            <div th:if="${!calendarResponseDtoList.isEmpty()}">
                <table >

                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>제목</th>
                        <th>합계</th>
                    </tr>
                    </thead>

                    <tbody class = "calendar-list" >
                    <tr th:each="calendarResponseDto : ${calendarResponseDtoList}">

                        <td>
                            <a th:href="@{/calendar/{id}/item(id=${calendarResponseDto.id})}" th:text="${calendarResponseDto.date}">
                            </a>
                        </td>

                        <td>
                            <a th:href="@{/calendar/{id}/item(id=${calendarResponseDto.id})}" th:text="${calendarResponseDto.title}">
                            </a>
                        </td>

                        <td>
                            <span th:if="${calendarResponseDto.totalAmount > 0}"
                                  th:text=" '+' + ${calendarResponseDto.totalAmount} + '원' "> 합계 </span>

                            <span th:if="${calendarResponseDto.totalAmount <= 0}"
                                  th:text="${calendarResponseDto.totalAmount} + '원' "> 합계 </span>

                        </td>


                        <td>
                            <form th:action="@{|/calendar/update/${calendarResponseDto.id}|}" method="get" style="display:inline;">
                                <button type="submit">수정</button>
                            </form>
                        </td>

                        <td>
                            <form th:action="@{|/calendar/delete/${calendarResponseDto.id}|}" method="post" style="display:inline;">
                                <button type="submit">삭제</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>

                </table>

            </div>

        </div>


    </div>

</body>
</html>